/*Landing v1.0--*/
.navbar {
    background-color: transparent;
    border-bottom: 0px solid transparent;
}

body {
    padding-top: 0;
}
.page {
    position: relative;
    background-color: #f9f9f9;
}
.cover-container {
    height: 40vh;
    background-size: cover;
}

.content-header.affix {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1029;
    top: 54px;
}