/*Home v1.0--*/
body{
    padding-top: 56px;
}

.content-header{
    background-color: #fff;
    border-bottom: 1px solid #eaecf1;
    margin-bottom: 35px;
    padding: 10px 0 20px;
}

.navbar-brand {
    padding: 14px 15px 5px;
}

.navbar-nav>li>a {
    line-height: 26px;
    font-weight: bold;
    color: #e8ecf4;
    font-size: 16px;
}

.navbar-nav>li>a:hover {
    line-height: 26px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}


/* -- PRODUCT LIST -- */

.commerce-panel {
    padding: 10px;
}
.commerce-panel:before,
.commerce-panel:after {
    display: table;
    content: " ";
}
.commerce-panel:after {
    clear: both;
}
.commerce-panel > .image > img {
    width: 45px;
    height: 45px;
    border: 1px solid #dfdfdf;
}
.commerce-panel > .info {
    font-weight: 600;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    line-height: 1;
}
.commerce-panel > .info > p {
    margin-bottom: 9px;
}
.commerce-panel > .info > span {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
    font-weight: normal;
}
.commerce-panel > .info > a > .fa,
.commerce-panel > .info > a > .ion,
.commerce-panel > .info > a > .glyphicon {
    margin-right: 3px;
}

.product-title{
    width:80%;
}

/* -- product list -- */

/* -- ORDERS -- */

.config-panel-layout{
    display: none;
}

.popover {
    width:60%;
    max-width: none;
}

/* -- orders -- */