/*****************************/
/*         PRODUCT           */
/*****************************/

body {
    position: relative;
}

/***** Scroll Control affix *****/
#scrollControl.affix{
    top: 156px;
}

@media (min-width: 768px){
    #scrollControl.affix {
        width: 220px;
    }
}
@media (min-width: 992px){
    #scrollControl.affix {
        width: 293px;
    }
}
@media (min-width: 1200px){
    #scrollControl.affix {
        width: 360px;
    }
}

.nav>li {
    padding: 0;
}
.nav>li>a, .nav>li>label {
    color: #000;
}
.nav>li.active>a, .nav>li.active>label {
    color: #fff;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}

#product-form-fixed{
    z-index: 1000;
    transition: all 500ms ease-in-out 0s;
    transform: translateY(100%);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 142px;
    background: #fff;
}
#product-form-fixed.shown{
    transform: translateY(0%);
}

#product-form-fixed > .container{
    height: 100%;
}

#product-form-fixed .container{
    position: relative;
}

#product-form-container{
    padding-top: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    min-height: 200px;
    transition: all 500ms ease-in-out 0s;
    height: 100%;
    overflow: auto;
}

#product-form-container .twitter-typeahead{
    width: 100%;
}

#productForm{
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    top: 25px;
    left: 15px;
    right: 15px;
    bottom: 85px;
}

.confPanel{
    transition: all 500ms ease-in-out 0s;
    transform: translateX(110%);
    position: absolute;
    left: 0;
    right: 0;
}

.confPanel.current{
    transform: translateX(0%);
}

.confPanel.ready{
    transform: translateX(-110%);
}

.bottom-action{
    bottom: 0;
    position: absolute;
    left: 15px;
    right: 15px;
}

#category, #subcategory{
    text-transform: capitalize;
}

.tt-empty-suggestions, .suggestion-header{
    padding: 0 15px;
}

.suggestion-header{

}

.tt-partial-empty{
    padding-top: 10px;
    border-top:1px solid #ccc;
}

.sublabel{
    font-weight: normal;
}

.overflow-hidden {
    overflow: hidden;
}

#add-price-size{
    padding-left: 0;
}

.price-size-row .btn, .add-attribute{
    padding-left: 0; 
    padding-right: 0;
}

#cancelProduct{
    position: absolute;
}
#saveProduct{
    right: 15px;
    bottom: 15px;
}
#cancelProduct{
    color: #000;
    right: 15px;
    top: 15px;
}
.defaultSuggestion{
    display: none;
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    position: absolute;
    left: 0px;
    z-index: 100;
    right: auto;
}
.tt-cursor{
    cursor: pointer;
}
.attribute-panel .defaultSuggestion{
    top: 25px;
    left: 15px;
}
/*.attribute-panel .tt-dropdown-menu{
    top: inherit!important;
    bottom: 100%;
}*/

.selected-attributes-panel h4{
    line-height: normal;
    margin: 0 5px 5px 0;
    display: inline-block;
}

.selected-attributes-panel .btn-link{
    padding-left: 5px;
    color: #fff;
}

.selected-attributes-panel .btn-link:hover{
    color: #444;
}

#product-preview-container{
    padding-top: 15vh;
}
/***** scroll control *****/

