/*****************************/
/*         ORDERS            */
/*****************************/

/* Icons */
.icon::before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Content */
.content-wrap {
    position: relative;
}

.content-wrap section {
    display: none;
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
    text-align: center;
}

.content-wrap section.content-current {
    display: block;
}

.content-wrap section p {
    margin: 0;
    padding: 0.75em 0;
    color: rgba(40,44,42,0.05);
    font-weight: 900;
    font-size: 4em;
    line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
    display: block;
}

.no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block;
}

.order-panel .box .box-header .box-title{
    font-size: 16px;
    cursor: inherit;
}

#order-pending-fixed{
    z-index: 1000;
    transition: all 500ms ease-in-out 0s;
    transform: translateY(99%);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 142px;
    background: rgba(255, 255, 255, 0.5);
}

#order-pending{
    padding-top: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    min-height: 200px;
    transition: all 500ms ease-in-out 0s;
    height: 100%;
    overflow: auto;
}

#order-pending-fixed.shown{
    transform: translateY(0%);
}

.rejectOrder{
    
}

.time-order{
    font-size: 13px;
    margin-right: 6px;
}

.grab-order{
    font-size: 20px;
    opacity: 0.5;
    color: #999;
    position: absolute;
    width: 50px;
    top: 5px;
    left: 50%;
    margin-left: -25px;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.order-body{
    margin: 0;
}

.order-item{
    padding: 15px 0 0;
    border: none;
}
.order-item:first-child{
    padding-top: 0;
}

.order-item-head{
    overflow: hidden;
}

.order-item-head p:first-child{
    max-width: 85%;
    margin: 0;
}

.table > tbody.order-body > tr > td{
    border: none;
}

.order-body .order-product-name td{
    padding-bottom:0px;
}

.order-body .order-product-attributes td{
    padding:0px 5px 10px 5px;
}

.order-body .order-item-attributes .label{
    font-weight: bold;
    font-size: 13px;
    color: #5bc0de;
    font-style: italic;
}

#order-ready .box:last-of-type{
    margin:0px;
}

.badge.no-background {
    color: #000;
    background-color: inherit;
}

#dealer-panel .order-helper{
    float: left;
    margin-right: 8px;
}

#dealer-panel .order-helper:last-of-type{
    margin-right: 0px;
}

.order-helper{
    position: relative;
    z-index: 970;
    margin-bottom: 8px;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.order-helper i{
    font-size: 1.5em;
    z-index: 1;
    position: absolute;
    top: -2px;
    left: -5px;
}

.order-helper .box{
    padding: 5px 15px;
    margin: 0;
}

#dealer-panel, #dealer-panel .box{
    position: inherit;
}

#dealer-panel .box-body{
    min-height: 50px;
    overflow: hidden;
}

#dealer-panel .ui-droppable{
    overflow: hidden;
}

.ui-draggable-dragging .order-helper-client ,.order-helper .order-helper-client {
    position: relative!important;
    width: 100%;
}

.progress-order, .pending-order, .history-order{
    transition: all 1000ms cubic-bezier(0.68, -0.25, 0.265, 1.55);
}

.pending-order.archive, .new-progress{
    transform: translateY(-200%);
}

.new-pending{
    transform: translateY(200%);
}

.progress-order.archive, .new-history{
    transform: translateX(-200%);
}

#order-panel .client-name{
    cursor: pointer;
    border-bottom: 1px dotted;
}

.box .box-header a.text-primary {
    color: #428bca;
}

.order-helper .client-name{
    font-size: 16px;
    /*border-bottom: 1px dotted;*/
}

.order-helper .order-change{
    font-size: 13px;
}

.bg-over{
    background-color: rgba(252,248,227,0.5);
}

#order-history-fixed {
    position: fixed;
    z-index: 1000;
    transition: all 500ms ease-in-out 0s;
    transform: translateX(-205%);
}

#order-history-fixed.shown {
    transform: translateX(0%);
}

#order-history {
    max-height: 60vh;
    /*overflow: auto;*/
    padding-left: 15px;
    padding-right: 15px;
}

/*#order-pending-fixed.shown{
    transform: translateY(0%);
}

#order-pending-fixed{
    z-index: 1000;
    transition: all 500ms ease-in-out 0s;
    transform: translateY(99%);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 142px;
    background: rgba(255, 255, 255, 0.5);
}

#order-pending{
    padding-top: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    min-height: 200px;
    transition: all 500ms ease-in-out 0s;
    height: 100%;
    overflow: auto;
}*/
/***** orders *****/

