/*****************************/
/*         PROFILE           */
/*****************************/
#cover{
    overflow: hidden;
    margin-bottom: 30px;
}

#logo{
    margin-top: -17%;
    position: absolute;
}

#logo img{
    border: 5px solid #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#cover label, #logo label{
    position: relative;
    max-width: inherit;
    margin-bottom: 0;
    font-weight: inherit;
}

#cover .edit, #logo .edit{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 800%;
    background-color: #fff;
    opacity: 0;
}

#cover:hover .edit, #logo:hover .edit{
    font-size: 2em;
    opacity: 0.6;
}

/*****************************/
/*         BRANCH            */
/*****************************/

.add-branch{
    font-size: 60px;
    text-align: center;
}

.add-branch a{
    color:#000;
    display: block;
    opacity: 1;
    padding: 70px 0;
    background-color: #f1f1f1;
}
.add-branch a:hover{
    cursor: pointer;
    opacity: 0.5;
}

.branch-data {
    position: absolute;
}

.branch-data:not(:first-of-type) {
    display: none;
}

.panel-collapse div{
    line-height: 200%;
}

.range-control .from-range select,.range-control .to-range select{
    -webkit-appearance:none;
    -moz-appearance:window;
}

@-moz-document url-prefix() {
    .select-moz{
        background: none repeat scroll 0 0 white;
        overflow: hidden;
    }

    .select-moz select{
        width: 125%;
    }
} 

.range-control.from-label::before{
    left: 0;
    color: #999;
    line-height: 310%;
    font-size: 0.6em;
    content: 'de';
    position: absolute;
}

.range-control::after{
    color: #999;
    left: 49%;
    line-height: 310%;
    font-size: 0.6em;
    content: 'a';
    position: absolute;
}

.day-status{
    color: #c9302c!important;
}
.day-status.working-day{
    color: #449d44!important;
}

.copy-last-time{
    position: absolute;
    right: 0;
    font-size: 0.4em;
    color:#000;
}
.copy-last-time:hover{
    color:#999;
}
.copy-last-time::before{
    font-family: 'FontAwesome';
    content:'\f175';
    font-size:12px;
}
.business-hours-control:first-of-type .copy-last-time{
    display: none;
}

#not-found,#found{
    display: none;
    padding: 15px;
    text-align: center;
}

.tt-empty-message{
    font-size: 0.5em;
    text-align: center;
}

.gmnoprint img{
    max-width: inherit!important;
}

.remove-dealer{
    top: 0%;
    position: absolute;
    display: block;
    right: 20px;
    display: block;
    color: #000;
    opacity: 0.5;
}

.remove-dealer:hover{
    opacity: 1;
    color: #000;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    text-align: center;
    z-index: 0;
    list-style-type: none;
    color: black;
    /* text-transform: uppercase; */
    font-size: 1em;
    width: 25%;
    float: left;
    position: relative;
}
#progressbar li:first-child {
    z-index: 3;
}
#progressbar li:nth-child(2) {
    z-index: 2;
}
#progressbar li:nth-child(3) {
    z-index: 1;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}

.areaGroup .onAreaEdition{
    display: none;
}
.areaGroup.new .panel-heading,
.areaGroup.new .dataArea,
.areaGroup.edit .panel-heading, 
.areaGroup.edit .dataArea{
    display: none;
}
.areaGroup.new .onAreaEdition,
.areaGroup.edit .onAreaEdition{
    display: block;
}

.cancelArea{
    padding-left: 0;
}

/***** branch *****/

/*****************************/
/*         ORDERS            */
/*****************************/

/* Icons */
.icon::before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Content */
.content-wrap {
    position: relative;
}

.content-wrap section {
    display: none;
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
    text-align: center;
}

.content-wrap section.content-current {
    display: block;
}

.content-wrap section p {
    margin: 0;
    padding: 0.75em 0;
    color: rgba(40,44,42,0.05);
    font-weight: 900;
    font-size: 4em;
    line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
    display: block;
}

.no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block;
}

.order-panel .box .box-header .box-title{
    font-size: 16px;
    cursor: inherit;
}

#order-pending-fixed{
    z-index: 1000;
    transition: all 500ms ease-in-out 0s;
    transform: translateY(99%);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 142px;
    background: rgba(255, 255, 255, 0.5);
}

#order-pending{
    padding-top: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    min-height: 200px;
    transition: all 500ms ease-in-out 0s;
    height: 100%;
    overflow: auto;
}

#order-pending-fixed.shown{
    transform: translateY(0%);
}

.time-order{
    font-size: 13px;
    margin-right: 6px;
}

.grab-order{
    font-size: 20px;
    opacity: 0.5;
    color: #999;
    position: absolute;
    width: 50px;
    top: 5px;
    left: 50%;
    margin-left: -25px;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.order-body{
    margin: 0;
}

.order-item{
    padding: 15px 0 0;
    border: none;
}
.order-item:first-child{
    padding-top: 0;
}

.order-item-head{
    overflow: hidden;
}

.order-item-head p:first-child{
    max-width: 85%;
    margin: 0;
}

.table > tbody.order-body > tr > td{
    border: none;
}

.order-body .order-product-name td{
    padding-bottom:0px;
}

.order-body .order-product-attributes td{
    padding:0px 5px 10px 5px;
}

.order-body .order-item-attributes .label{
    font-weight: bold;
    font-size: 13px;
    color: #5bc0de;
    font-style: italic;
}

#order-ready .box:last-of-type{
    margin:0px;
}

.badge.no-background {
    color: #000;
    background-color: inherit;
}

.order-helper{
    position: relative;
    float: left;
    z-index: 970;
    margin-right: 8px;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.order-helper:last-of-type{
    margin-right: 0px;
}

.order-helper i{
    font-size: 1.5em;
    z-index: 1;
    position: absolute;
    top: -2px;
    left: -5px;
}

.order-helper .box{
    padding: 5px 15px;
    margin: 0;
}

#dealer-panel, #dealer-panel .box{
    position: inherit;
}

#dealer-panel .box-body{
    min-height: 50px;
    overflow: hidden;
}

#dealer-panel .ui-droppable{
    overflow: hidden;
}

.ui-draggable-dragging .order-helper-client ,.order-helper .order-helper-client {
    position: relative!important;
    width: 101%;
}

.text-danger{
    color: #f44336;
}
.text-success{
    color: #4caf50;
}

#order-panel a.text-success:focus{
    color: #4caf50;
}

#order-panel a.text-danger:focus{
    color: #f44336;
}

.progress-order{
    transition: all 1000ms cubic-bezier(0.68, -0.25, 0.265, 1.55);
}

.progress-order.archive{
    transform: translateX(-130%);
}

.progress-order .client-name{
    cursor: pointer;
    border-bottom: 1px dotted;
}

.box .box-header a.text-primary {
    color: #428bca;
}

.order-helper .client-name{
    font-size: 16px;
    /*border-bottom: 1px dotted;*/
}

.order-helper .order-change{
    font-size: 13px;
}

.bg-over{
    background-color: rgba(252,248,227,0.5);
}
/***** orders *****/

