/* SWITCH CHECKBOX */

.hidden-checkbox {
    display: none;
}

.hidden-checkbox ~ .switchable-wrapper {
    display: none;
}

.hidden-checkbox:checked ~ .switchable-wrapper {
    display: block;
}

.hidden-checkbox + .switch-checkbox {
    background-color: #52b266;
    color: #fff;
}

.hidden-checkbox:checked + .switch-checkbox {
    background-color: #f56954;
    color: #fff;
}

/* Publish/Unublish label */
.publish.hidden-checkbox + .switch-checkbox:lang(es):before {
    content: "Publicar";
}

.publish.hidden-checkbox:checked + .switch-checkbox:lang(es):before {
    content: "Despublicar";
}

.publish.hidden-checkbox + .switch-checkbox:lang(en):before {
    content: "Publish";
}

.publish.hidden-checkbox:checked + .switch-checkbox:lang(en):before {
    content: "Unublish";
}

/* Enable/Disable label */
.enable.hidden-checkbox + .switch-checkbox:lang(es):before {
    content: "Habilitar";
}

.enable.hidden-checkbox:checked + .switch-checkbox:lang(es):before {
    content: "Deshabilitar";
}

.enable.hidden-checkbox + .switch-checkbox:lang(en):before {
    content: "Enable";
}

.enable.hidden-checkbox:checked + .switch-checkbox:lang(en):before {
    content: "Disable";
}

/* -- switch checkbox end -- */

.list-group-item-text{
    margin-top: 15px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-title:first-letter {
    text-transform: uppercase;
}

/*****************************/
/*        FORM LARGE         */
/*****************************/

.form-large{
    font-size: 40px;
}

.form-large .control-label{
    padding: 20px;
    line-height: normal;
    text-align: left;
}

.form-large input[type=text], .form-large  button, .form-large  select{
    font-size: 40px;
    height: auto;
    line-height: normal;
}

.form-large input[type=text], .form-large  button{
    padding: 20px;
}

.form-large  select{
    padding: 19px;
    padding-right: 0;
}

.form-large input[type=text].input-sm, .form-large  button.btn-sm, .form-large  select.input-sm{
    font-size: 25px;
}

.form-large input[type=text].input-md, .form-large  button.btn-md, .form-large  select.input-md{
    font-size: 30px;
}

.form-large input[type=text], .form-large  select{
    display: block;
    margin: 0;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    background-color: transparent;
    color: #000;
    text-overflow: ellipsis;
    font-weight: bold;
    border-radius: 0;
}

.form-large .input-group .input-group-addon{
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 50px;
}

.form-large .input-group button{
    border: none;
}
/***** form large *****/

/*****************************/
/*        FORM MEDIUM        */
/*****************************/

.form-medium{
    font-size: 26px;
}

.form-medium .control-label{
    padding: 30px;
    line-height: normal;
    text-align: left;
}

.form-medium input[type=text], .form-medium  button, .form-medium  select{
    font-size: 26px;
    height: auto;
    line-height: normal;
}

.form-medium input[type=text], .form-medium  button{
    padding: 10px;
}

.form-medium  select{
    padding: 9px;
    padding-right: 0;
}

.form-medium input[type=text].input-sm, .form-medium  button.btn-sm, .form-medium  select.input-sm{
    font-size: 15px;
}

.form-medium input[type=text].input-md, .form-medium  button.btn-md, .form-medium  select.input-md{
    font-size: 20px;
}

.form-medium input[type=text], .form-medium  select{
    display: block;
    margin: 0;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    background-color: transparent;
    color: #000;
    text-overflow: ellipsis;
    font-weight: bold;
    border-radius: 0;
}

.form-medium .input-group .input-group-addon{
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 25px;
}

.form-medium .input-group button{
    border: none;
}
/***** form large *****/

.content-header-fixed{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1029;
}

.container-with-padding-top{
    padding-top: 122px;
}


/* RANGE SLIDER */

.slider {
    position: relative;
    width: 100%;
    margin: 10px auto;
}

.slider input[type="range"] {
    -webkit-appearance: none !important;
    width: 100%;
    height: 5px;
    background-color: #3c8dbc;
    border: 1px solid #3c8dbc;
    border-radius: 10px;
    margin: auto;
    transition: all 0.3s ease;
    outline: 1px solid #3c8dbc;
    outline-offset: -10px;
    position: relative;
    z-index: 2;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    border: 0px solid transparent;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5), 1px 3px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5), 1px 3px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 1px 3px 5px rgba(0, 0, 0, 0.25);
    opacity: 1;
    transition: all 0.5s ease;
    cursor: pointer;
}
/*.slider input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #000;
}
.slider input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: 0px 0px 1px #000;
}*/

.slider #rangevalue {
    text-align: center;
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 10px 0px;
    width: 100%;
    color: #579E81;
}
/* ---- */

.irs-grid {
    position: absolute;
    display: none;
    width: 100%;
    height: 20px;
    z-index: 1;
}
.irs-with-grid .irs-grid {
    display: block;
}
.irs-grid-pol {
    position: absolute;
    top: 0; left: 0;
    width: 1px; height: 8px;
    background: #000;
}
.irs-grid-pol.small {
    height: 4px;
}
.irs-grid-text {
    text-align: left;
    font-size: 12px;
    width: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    line-height: 9px;
    color: #000;
}

.absolute{
    position: absolute;
}

/*.top{
    top: 0;
}

.left{
    left: 0;
}

.bottom{
    bottom:0;
}

.right{
    right: 0;
}*/

.btn.btn-link{
    box-shadow:inherit;
}

.bottombar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color:#fff;
    font-size: 13px;
}

#hello-wrapper .btn-link, #hello-wrapper .btn-link:hover, #hello-wrapper .btn-link:focus, #hello-wrapper .btn-link:active{
    color: #fff;
}

/* SELECTABLE RADIO LABEL */

.radio-toolbar input[type="radio"] {
    display:none; 
}

.radio-toolbar label:first-of-type { 
    border-top-left-radius: 4px!important;
    border-bottom-left-radius: 4px!important;
}

.radio-toolbar input[type="radio"]:checked + label { 
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.radio-toolbar input[type="radio"]:checked + label.btn-default { 
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.radio-toolbar input[type="radio"]:checked + .btn.btn-default:hover { 
    background-color: #e6e6e6!important;
}


/* TYPEAHEAD */
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

.scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

/* -- FILTER PANEL -- */
.filter {
    top: 50px;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f7f7f7), color-stop(30%, #ffffff));
    background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, #ffffff 30%);
    background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, #ffffff 30%);
    background-image: linear-gradient(bottom, #f7f7f7 0%, #ffffff 30%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #cfcfcf;
    white-space: nowrap;width: 100%;
    z-index: 3;
    position: fixed;
}

#filter-container {margin-top:10px;}

.popover-wrapper{display: none;}

.sidebar-nav.affix{width:262px;top:140px;}

.caption .label {margin-right: 5px;}

.filter-mask{font-size: 28px;overflow: hidden;display: block;float: left;margin-right: 20px;cursor: pointer;}

.filter-mask:hover{color:#1769ff;}
.filter-mask:hover .caret-wrapp{border-color: #1769ff;}
.filter-mask:hover .caret-wrapp .caret{border-top-color: #1769ff;}

.filter-mask.active{color:#1769ff;}
.filter-mask.active .caret-wrapp{border-color:#1769ff;}
.filter-mask.active .caret-wrapp .caret{border-top-color:#1769ff;}

.mask{padding-right:10px;text-transform:capitalize;}
.caret-wrapp {padding: 2px;border: 1px solid #000000;margin-top: 15px;border-radius: 5px;width: 18px;height: 15px;line-height: 5px;}
.popover-content{overflow: auto;max-height: 350px;}

#blocker{position: absolute;z-index: 1009;top:0;bottom:0;left:0;right:0;display: none;}

#cv_commerce_menu_attach_list .list-group-header{background-color: #f2f2f2;font-size: 18px;font-weight: bold;}

.item-order .list-group,.menu-branch-item .list-group, .organized-list.list-group  {-webkit-box-shadow: inherit;box-shadow: inherit;}
.item-order .list-group {margin-bottom: 0px;}

.organized-list { display: block; overflow: auto;}
.attach-list.organized-list {border: 1px solid #ddd; height: 180px;}
.attach-list.organized-list .input-group {height: 38px;}
.attach-list.organized-list .input-group .input-group-addon{border:none;border-radius: 0;font-size: 15px;border-right: 1px solid #ddd;}
.attach-list.organized-list .list-group-item{border-left: none; border-right: none;}

.organized-list.list-group .list-group-item {
    overflow: hidden;
    border-radius: 0px;
    text-transform: capitalize;
    padding: 0;
    position: inherit;
}

.organized-list.list-group .list-group-item a,.organized-list.list-group .list-group-item label{
    margin: 0;
    display: block;
    padding: 10px 15px;
}

.organized-list.list-group .list-group-item label.floated{
    border-right: 1px solid #ddd;
    width: 280px;
    float: left;
}

.organized-list.list-group .input-text-group-item{
    border:none;
    float: left !important;
    font-size: 18px;
    padding: 7px;
    height: inherit;
    border-radius: 0;
    box-shadow: none;
}

.organized-list.list-group .list-group-item a:hover,.organized-list.list-group .list-group-item label:hover{
    background-color: #f2f2f2;
    text-decoration: none;
}

.organized-list.list-group .dropdown-header {
    padding: 8px 5px;
    font-weight: bold;
}

.organized-list.list-group .list-group-header {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #f2f2f2;
    text-transform: uppercase;
    padding: 3px 10px;
}

.attach-list.organized-list.list-group .list-group-header {
    border: none;
    border-top: 1px solid #ddd;
    background-color: #f2f2f2;
    text-transform: uppercase;
    padding: 3px 10px;
}

.attach-list.organized-list.list-group .list-group-header:first-of-type {
    border: none;
}

.organized-list.list-group .list-group-item:first-of-type,
.organized-list.list-group .list-group-header:first-of-type  {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.organized-list.list-group .list-group-item:last-of-type {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.attach-list.organized-list.list-group .list-group-item:last-of-type {
    border-bottom: none;
}

.organized-list.list-group .category-item {
    font-size: 13px;
}

#food-select .popover {
    width:250px;
}

/* -- filter panel -- */
